* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #f5f5f5;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    text-align: center;
    color: #3f3f3f;

    font-family: "Montserrat", sans-serif;
}

.main h1 {
    font-size: 32px;
}
